@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Sunflower:wght@300;500;700&display=swap');
@import url('bootstrap.min.css');
@import url('jquery.mobile-1.4.5.css');

body{
   /* font-family: 'Noto Sans KR', sans-serif; */
   font-family: 'Sunflower', sans-serif;
}

/* ################### INTRO ################# */
.ui-content{
    background-color:#efefef;
    border-color:#efefef;
}
.intro-img01{
    width: 85%;
    margin-top:60px;
    margin-bottom:70px;
    position:relative;
    animation: motion 1.5s ease-in-out alternate infinite;
}
.intro-title span{
    font-size:.6em;
    font-weight:300;
}
.intro-title{
    text-align:center;
    margin:12px auto 15px;
    font-family:'Noto Sans KR', sans-serif; 
    font-weight:700;
}
.intro-description{
    padding-left:1.5em;
    padding-right:1.5em;
    font-weight:300;
    font-size:1.2em;
}

#custom-stepper{
    width:100%;
    text-align:center;
}
.stepper
{
   height:10px;
   width:10px;
   background-color:#bebebe;
   border-radius:50%;
   display:inline-block;   
   margin-left:5px;
}
.stepper.act{
    background-color:#febae8;
 }

.btn-box{
    padding-top:1.5em;
    padding-bottom:3em;
}
@keyframes motion{
   from{
     left:0px;
     top: 0px;
   }
   to{
      left:0px;
      top:15px;
   }
}